
header{
    display:flex;
    margin-top: 20px;
    padding-left: 20px; 
    align-items: start;
    margin-bottom: 40px;
}
header img{
    width: 40px;
    padding-right:15px ;
}
header h1 {
    color: white;
}