.container {
  width: 100%;
}

.movie-card {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping to new lines */
  width: fit-content; /* Adjust width to fit content */

  border-radius: 2em;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.inside {
  display: inline-block;
  padding: 10px;
  border: 0.3em solid red;
  border-radius: 15px;
  margin: 10px;
}
.caption p {
  color: red;
}
.genre {
  display: inline-block;
  color: yellow;
  font-size: 1.5em;
  font-weight: bold;
}
.listGenre {
  display: inline-block;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1em;
}
